[Unit]
Description=node_exporter - Exporter for machine metrics.
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
ExecStart={{ ne__exporter_dir }}/node_exporter $OPTIONS

SyslogIdentifier=node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
